@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/style/font/IBM_Plex_Sans/IBMPlexSans-Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/style/font/IBM_Plex_Sans/IBMPlexSans-BoldItalic.ttf') format('ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('style/font/IBM_Plex_Sans/IBMPlexSans-Italic.ttf') format('ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('style/font/IBM_Plex_Sans/IBMPlexSans-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
